<a href="https://colab.research.google.com/github/Diyasojan24/AI-Ml/blob/main/NER_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy#spaCy is a powerful NLP library that provides pre-trained models for NER, making it relatively easy to implement NER in your applications.

In [3]:
nlp=spacy.load("en_core_web_sm")

In [4]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [6]:
doc=nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
  print(ent.text, "|",ent.label_, "|", spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [7]:
from spacy import displacy
displacy.render(doc,style="ent")

In [8]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [9]:
doc=nlp("Michael Bloomberg founded Bloomberg L.P in 1982")
for ent in doc.ents:
  print(ent.text, "|",ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg L.P | GPE | Countries, cities, states
1982 | DATE | Absolute or relative dates or periods

In [10]:
doc[0]

Michael

In [11]:
type(doc[0])

spacy.tokens.token.Token

In [12]:
doc[2:5]

founded Bloomberg L.P

In [15]:
from spacy.tokens import Span # Span is the class in spacy
s1=Span(doc,0,1,label="ORG")
s2=Span(doc,5,6,label="ORG")
doc.set_ents([s1,s2],default="unmodified")

In [16]:
for ent in doc.ents:
  print(ent.text,"|",ent.label_)

Michael | ORG
Bloomberg | PERSON
Bloomberg L.P | GPE
in | ORG
1982 | DATE

# Extract all the birth dates of cricketers in the given Text

In [26]:
text="""Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

In [25]:
doc=nlp(text)
all_birth_dates=[]
for ent in doc.ents:
  if ent.label_=='DATE':
    all_birth_dates.append(ent)
print("All birth dates:",all_birth_dates)
print("count:",len(all_birth_dates))

All birth dates: [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
count: 4

# Extract all the Geographical (cities, Countries, states) names from a given text

In [27]:
text="""Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

In [29]:
doc=nlp(text)
all_gpe_names=[]#list for storing all the names
for ent in doc.ents:
  if ent.label_=='GPE':
    all_gpe_names.append(ent)
print("Geographical location Names: ", all_gpe_names)
print("Count: ", len(all_gpe_names))

Geographical location Names:  [Kiran, India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Assam, Bihar]
Count:  8

In [30]:
import re

text = "Contact us at support@example.com or sales@example.com"
email_pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

emails = re.findall(email_pattern, text)
print(emails) # ['support@example.com', 'sales@example.com']

['support@example.com', 'sales@example.com']